#header{
	border-top: 2px solid red;
	padding: 10px 0px 0px 20px;

}
#header>ul>li>a{
	color: pink;
	font-size: 18px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: blue;
	display: inline-block;
	text-align: center;
	line-height: 30px;
	transition: 1s;
	margin-top: 10px;
}
#header>ul>li>a:hover{
	color: #fff;
	background-color: lightblue;

}
#header>.header-contact>ul>li{
	border-left: 1px solid red;
	padding: 10px;
}
/*start nav*/
#header>.navbar-default{
	clear: both;
	background-color: lightblue;
	margin-bottom: 0px;
	border: 0px;
	margin-left: -20px;
}
#header>.navbar-default .navbar-header .navbar-brand{
	color: red;
	font-size: 25px;
}
#header>.navbar-default .navbar-nav li a{
	color: red;
}
#header>.navbar-default .navbar-nav li.active a{
	color: green;
}
#header>.navbar-default .navbar-nav li:before{
	content: '';
	width: 10px;
	height: 10px;
	border-top: 1px solid green;
	border-left: 1px solid green;
	position: absolute;
	transform: translate(10%,0%);
	transition: 0.3s;
	display: block;
	filter: opacity(0%);
}
#header>.navbar-default .navbar-nav li:after{
	content: '';
	width: 10px;
	height: 10px;
	border-bottom: 1px solid green;
	border-right: 1px solid green;
	position: absolute;
	transform: translateY(-100%);
	right: 0px;
	transition: 0.3s;
	display: block;
	filter: opacity(0%);
}
#header>.navbar-default .navbar-nav li:hover:before{
	transform: translate(10%,100%);
	filter: opacity(100%);
}
#header>.navbar-default .navbar-nav li:hover:after{
	transform: translateY(-200%);
	filter: opacity(100%);
	right: 0px;
}
/*end nav*/

/*slider*/

#header .carousel-inner .item img{
	width:100%;
	height: 400px;
	transition: 1s;
}
#header .carousel{
	margin-left: -20px;
	padding-bottom: 0px;
}
#header .carousel .carousel-indicators li{
	border: 1px solid red;
	border-radius: 50px;
	/*transform: rotate();*/
}
#header .carousel .carousel-indicators li.active{
	border: 2px solid blue;
	background-color: red;
}
#header .carousel .carousel-inner .carousel-caption{
	bottom: 40%;
	color: red;
}
#header a.down-btn span.fa.fa-long-arrow-down{
	color: red;
	border-color: 1px solid blue;
	font-size: 26px;
	border-radius: 2px;
	padding: 7px 5px;
	position: relative;
	margin-top: 10px;
	cursor: pointer;
	margin-left: 50%;
}
/*end slider*/
/*start about*/
#about .par>p{
	font-size: 20px;
}
#about p>a.down-btn span.fa.fa-long-arrow-down{

	color: red;
	border-color: 2px solid blue;
	font-size: 26px;
	border-radius: 2px;
	padding: 7px 5px;
	position: relative;
	margin-top: 0px;
	cursor: pointer;
	margin-left: 50%;

}
#about p>a.down-btn span.fa.fa-long-arrow-up{
	color: red;
	border-color: 2px solid blue;
	font-size: 26px;
	border-radius: 2px;
	padding: 7px 5px;
	position: relative;
	margin-top: 0px;
	cursor: pointer;
}
/*end about*/
h2{
	color: blue;
}
hr{
	width: 70px;
	border-color: gray;
	size: 2px;
}
/*items*/
#item #group .list-group .list-group-item{
	clear: left;
	background-color: blue;
	border-radius: 0px;
	color: #fff;
	margin-top: 5px;
}
#item #group .list-group .list-group-item i{
	display: none;
}
#item #group .list-group .list-group-item span{
	display: inline-block;
}
#item #group .list-group .list-group-item[aria-expanded="false"] span,
#item #group .list-group .list-group-item[aria-expanded="true"] i{
	display: inline-block;
}
#item #group .list-group .list-group-item[aria-expanded="true"] span,
#item #group .list-group .list-group-item[aria-expanded="false"] i{
	display: none;
}
/* end items*/
/*contact*/
#contact ul>li{
	display: block;
}
#contact ul>li>p{
	color: green;
}
/*end contact*/